{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row mt-4 p-5 jtron rounded">
    <div class="col-md-6">
        <h1>Watches</h1>

        <p>Watches aren't just about keeping time. They symbolise sophistication, elegance and hertitage. 
            They are passed down through generations and are used to commemerate an occasion or a milestone. 
            
            Browse our amazing selection of Men's and Women's watches to find the perfect watch for you.
        </p>
    </div>
    <div class="col-md-6">
        <h1 class="display-4 logo-font text-black">
            Find the watch for you!
        </h1>
        <div class="my-5">
            <h4>
                <a href="{% url 'watches' %}" class="shop-now-button btn text-uppercase">Shop Now</a>
            </h4>
        </div>
    </div>    
</div>
{% endblock %}