{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Shopping Basket</h2>
<div class="row">
    <div class="col">
        {% if basket_items %}
            <div class="table-responsive rounded">
                {{ basket_items }}
            </div>
        {% else %}
            <p class="lead mb-5">Your basket is empty.</p>
            <a href="{% url 'watches' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}