@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&family=Unna:wght@400;700&display=swap');

/* General styling */

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/*----- Nav Bar Styling -----*/

.search-bar {
    width: 100%;
}

.bg-black {
    background: #000 !important;
}

/* footer styling */

footer {
    padding-top: 2rem;
}

.social-media-wrapper > h2{
 font-size: 2rem;
}

.social-media-links li {
    list-style: none;
}

.social-media-links a{
    text-decoration: none;
    font-size: 2rem;
    color: #000000
}

.social-media-links a:hover {
    color: rgb(31, 139, 4)
}

/*----- Home page styling -----*/

.jtron {
    background: #000000;
    color: #ffffff;
    margin: 2rem;
}

.shop-now-button {
    background-color: white;
}

/*----- Product sytling -----*/

.border-black {
    border: 1px solid black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a {
    color: black;
}

/* Messgaes styling */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*----- Watch detail styling -----*/

.watch-detail-description {
    margin-top: 1.5rem;
}

.watch-detail-title {
    padding-top: 1.5rem;
}

.keep-shopping-btn {
    width: 100%;
    margin-top: 1rem;
}

/*-----  Form styling -----*/

input {
    width: 100%;
}

.review-form-title {
    padding-top: 1.5rem;
}

/*----- Mail chimp -----*/

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: 600px;
  }