{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find a stunning range of mens watches from prestigious brands and designers.">
    <meta name="keywords" content="watches, mens watches, womens watches, fashion accessories, 
    mens gifts, womens gifts, swiss watches, japanese watches, high quality fashion accessories, 
    mens fashion accessories, womens fashion accessories, fashion gifts for men, fashion gifts 
    for women, gifts for him, gifts for her, stainless steel quality watches">
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8c5d0bea72.js" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fine Dials {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <h2><strong>Fine Dials</strong></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                All Watches
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'watches' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'watches' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'watches' %}?sort=style&direction=asc" class="dropdown-item">By Style</a>
                <a href="{% url 'watches' %}" class="dropdown-item">All Products</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Brands
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'watches' %}?brand=Tissot">Tissot</a>
                <a class="dropdown-item" href="{% url 'watches' %}?brand=Seiko">Seiko</a>
                <a class="dropdown-item" href="{% url 'watches' %}?brand=Casio">Casio</a>
                <a class="dropdown-item" href="{% url 'watches' %}?brand=Hamilton">Hamilton</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Style
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'watches' %}?style=DIVER">Diver</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=PILOT">Pilot/Field</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=DRESS">Dress</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=CHRONOGRAPH">Chronograph</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=GMT">GMT</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=CASUAL">Casual</a>
                <a class="dropdown-item" href="{% url 'watches' %}?style=DIGITAL">Digital</a>
              </div>
            </li>
            <li class="nav-item">
              <form method="GET" action="{% url 'watches' %}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" name="q" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </form>
            </li>
          </ul>
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  <p class="my-0">My Account</p>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="{% url 'add_watch' %}" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
                <div class="text-center">
                  <div><i class="fas fa-basket-shopping fa-lg"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                    {% else %}
                      £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
      {% with message.level as level %}
      {% if level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
      {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
      {% elif level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
      {% else %}
          {% include 'includes/toasts/toast_info.html' %}
      {% endif %}
  {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="py-5">
      <div class="row">
        <div class="col-lg-6">
          <div id="mc_embed_shell">
            <div id="mc_embed_signup">
              <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=7433b41663a5ff168c6096848&amp;id=b8125686dd&amp;f_id=00b4ece6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                  <h2>Subscribe</h2>
                  <div class="indicates-required">
                    <span class="asterisk">*</span> indicates required
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">
                      Email Address <span class="asterisk">*</span>
                    </label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" name="FNAME" class=" text" id="mce-FNAME" value="">
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" name="LNAME" class=" text" id="mce-LNAME" value="">
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                    <input type="text" name="b_7433b41663a5ff168c6096848_b8125686dd" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                    <div class="clear foot">
                      <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button mailchimp-submit" value="Subscribe">
                      <p style="margin: 0px auto;">
                        <a href="http://eepurl.com/iEOb12" title="Mailchimp - email marketing made easy and fun">
                          <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                            <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                          </span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
         </div>
        </div>
        <div class="col-lg-6 social-media text-center">
          <h2>
            Follow us!
          </h2>
          <ul class="social-media-links">
            <li>
              <a href="https://en-gb.facebook.com/" aria-label="Link to Facebook" target="_blank" rel="noopener">
                <i class="fa-brands fa-facebook"></i> Facebook
              </a>
            </li>
            <li>  
              <a href="https://www.instagram.com/" aria-label="Link to Instagram" target="_blank" rel="noopener">
                <i class="fa-brands fa-square-instagram"></i> Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}
  </body>
</html>