{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pt-3">
            {% if watch.image %}
            <a class="watch-detail-img" href="{{ watch.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ watch.image.url }}" alt="{{ watch.brand }} {{ watch.model }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ watch.brand }}{{ watch.model }}">
            </a>
            {% endif %}
        </div>
        <div class="col-md-6 pt-3">
            <h1 class="watch-detail-title">{{ watch.brand }} {{ watch.model }}</h1>
            <p class="watch-detail-description">{{ watch.description }}</p>
            <h2>Specifications</h2>
            <p>Movement: {{ watch.get_movement_display }}</p>
            <p>Calibre: {{ watch.calibre }}</p>
            <p>Water Resistance: {{ watch.water_resistance }}</p>
            <p>Crystal: {{ watch.crystal }}</p>
            <p>Other Features: {{ watch.other_features|linebreaks }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text center">
            {% if request.user.is_superuser %}
                <div class="ml-3">
                    <a href="{% url 'edit_watch' watch.id %}">
                        <i class="fa-solid fa-pencil"></i>
                    </a> | 
                    <a class="text-danger" href="{% url 'delete_watch' watch.id %}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>
            {% endif %}
            <form class="form" action="{% url 'add_to_basket' watch.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="form-group w-50">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-black" 
                                    data-item_id="{{ watch.id }}" id="decrement-qty_{{ watch.id }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" 
                                value="1" min="1" max="99" data-item_id="{{ watch.id }}" 
                                id="id_qty_{{ watch.id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black"
                                    data-item_id="{{ watch.id }}" id="increment-qty_{{ watch.id }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-black mt-5 border-black" value="Add to Basket">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <a href="{% url 'watches' %}" class="btn btn-outline-black keep-shopping-btn">
                Keep Shopping
            </a>
            </button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col">
            <h3 class="review-form-title">Leave a review for the {{ watch.brand }} {{ watch.model }}</h3>
            <form class="mt-3" action="{% url 'watch_detail' watch.id %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black border-black text-uppercase mx-auto" type="submit">Submit</button>
            </form>
        </div>
        {% else %}
        <div class="col">
            <h3>Sign up or login to leave a review!</h3>
        </div>
        {% endif %}
    </div>
    <h3 class="my-4">Reviews</h3>
    {% for review in reviews %}
    <div class="row">
        <div class="col">
            <div class="reviews-container overflow-scroll px-1 py-1">
                <div class="review-wrapper px-3 my-3">
                    <p>{{ review.title }}</p>
                    <p>{{ review.body }}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'watches/includes/quantity_input_script.html' %}
{% endblock %}